
.info {
    display: none;
  }
  .card{
    opacity:0.7;
  }
  .bcard{
    opacity: 0.7;
  }

/* Task 1 - Change the font size, colour and type */
/* Change card font style, color and size */
  .card-text, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color:grey;
  }

/* Task 2 - Use HTML <nav>, <hader> and footer and apply styling */
/* Adjust text to be visible on full dark background image - jumbotron, header and footer */
  .jumbotron p, h1{
    color: white !important;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;

  }
  #header, h4{
    color: white !important;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  }
  footer p, a{
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .table {
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .h5 {
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
  .accordion-item {
    opacity: 0.8 !important;
  }

  .wbadge {
    font-size: 16px;
  }

/* Task 3 - Change background colour of one of your <DIV> tags. (on hover) */
/* Create glow/raise effect on card divisions, add solid background on card hover, increase font weight on hover, transform font to all uppercase on hover, change cursor to pointer on hover. */
  .card:hover
    {
            box-shadow:
                    rgb(248, 248, 248) 0px 0px 1px,
                    rgba(2, 117, 216) 0px 0px 6px,
                    rgba(2, 117, 216) 0px 0px 6px;
                    
            -webkit-transform: translateX(-0.2px);
            transform: translateX(-0.2px);
            opacity:0.9;
            cursor: pointer;
            font-weight: bolder;
            text-transform: uppercase;
            background-color: whitesmoke;
    }

/* Task 4 - Insert background image. (bg img applied to body, thicker borders added to all card divisions) */
/* Apply SVG background image to page */
  body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235A3A07' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23727272'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  }

/* Increase card divisions border size */
/* Increase card border to be visable on dark background image */
  .card {
    border-width: 5px !important;
    overflow: hidden;
  }

/* Task 5 - Use basic selectors (element, ID, Class). (to be found throughout all CSS an JS) */
/* Task 6 - Use combining selectors. (to be found throughout all CSS - refer to task 1, 2, 7) */

/* Task 7 - Change colour of your links and the font size while hovering */
/* Change colour and font-weight on nav link hover */ 
.nav-link:hover {
  font-weight: bold;
  color: whitesmoke;
}
.active {
  color: darkgrey !important;
  font-weight: bold;
}
.active:hover{
  cursor: default;
}

/* Task 8 - Use overflow property - Used on .card to prevent content overflowing (task 7) */


/* Transform nav bar to solid colour on scroll using JS scroll(), scrollTop(), addClass() */
.ease {
  background-color: black;
  transition: background-color 0.4s ease;
}


